<ion-list color="dark">
  <ion-item-sliding *ngFor="let lista of deseosService.lista|filtroCompletado:terminados">
    <ion-item detail color="dark" (click)="listaSeleccionada(lista)">
      <ion-label>{{lista.titulo}}</ion-label>
      <ion-note color="success" slot="end">{{lista.items.length}} items</ion-note>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="editarNombre(lista)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrar(lista.id)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>